.container-fluid {
  padding: 0px !important;
}

.list-group-item {
  border-radius: 0px !important;
  background: #FBFBFB;
}

.list-group {
  box-shadow: 2px 5px 5px 1px rgba(184,178,184,.3);
  height: 100vh;
  overflow: scroll;
}

.navbar {
  box-shadow: 0px 2px 5px 1px rgba(184,178,184,.3);
}

h5 {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
  color: #266AD1;
}
